@import "tailwindcss";

/* Source scanning (WAJIB v4) */
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

.icon-box {
    @apply w-14 h-14 mx-auto mb-4 flex items-center justify-center rounded-full bg-purple-100 text-purple-700;
}

.card-text {
    @apply text-sm font-semibold;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.staff-scroll::-webkit-scrollbar {
    display: none;
}
.staff-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.input-form {
    @apply w-full px-4 py-2
           border border-gray-300
           rounded-lg
           bg-white
           text-gray-800
           placeholder-gray-400
           focus:outline-none
           focus:ring-2 focus:ring-purple-400
           focus:border-purple-400;
}

.label {
    @apply text-sm font-medium text-gray-700;
}
